Select * from Employees
Select * from EmployeeLoginDetails
Delete from Employees
Delete from EmployeeLoginDetails
DBCC CHECKIDENT ('Employees', RESEED, 0);
DBCC CHECKIDENT ('EmployeeLoginDetails', RESEED, 0);

DECLARE @Date char(8)
set @Date='07162017'
Insert into Employees Values ('Kiruba','Subramaniam','Not Needed','Not Needed','Not Needed','4692698733',null,CONVERT(datetime,RIGHT(@Date,4)+LEFT(@Date,2)+SUBSTRING(@Date,3,2)),null, GETDATE(),1,null,null)
Insert into Employees Values ('Suganya','Subramaniam','Not Needed','Not Needed','Not Needed','9344474390',null,CONVERT(datetime,RIGHT(@Date,4)+LEFT(@Date,2)+SUBSTRING(@Date,3,2)),null, GETDATE(),1,null,null)
Insert into Employees Values ('Ashok','Kannan','Not Needed','Not Needed','Not Needed','9443319071',null,CONVERT(datetime,RIGHT(@Date,4)+LEFT(@Date,2)+SUBSTRING(@Date,3,2)),null, GETDATE(),1,null,null)

Insert into EmployeeLoginDetails Values (1,'NA','NA',1,GETDATE(),0,GETDATE(),1,null,null)
Insert into EmployeeLoginDetails Values (2,'NA','NA',1,GETDATE(),0,GETDATE(),1,null,null)
Insert into EmployeeLoginDetails Values (3,'NA','NA',1,GETDATE(),0,GETDATE(),1,null,null)

Delete from dbo.VehicleBookingAllotment 
Delete from dbo.VehicleInventoryStatus
Delete from  VehicleInventory
Delete from VehicleInfo 
DBCC CHECKIDENT ('VehicleBookingAllotment', RESEED, 1);
DBCC CHECKIDENT ('VehicleInventoryStatus', RESEED, 1);
DBCC CHECKIDENT ('VehicleInventory', RESEED, 1);
DBCC CHECKIDENT ('VehicleInfo', RESEED, 1);

--Select  * from VehicleInfo

Insert into VehicleInfo Values (1,'B812 & B822','RAY Z',52143,6521,2060,61279,0,0,0,GETDATE(), 1, null,null)
Insert into VehicleInfo Values (1,'BP11',	'ALPHA - Drum',	53556,	6634,	2091,	62836,0,0,0,GETDATE(), 1, null,null)
Insert into VehicleInfo Values (1,'BP12',	'ALPHA - Disc',	56816,	6895,	2165,	 	66431,0,0,0,GETDATE(), 1, null,null)
